.View {
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.Title {
  margin-bottom: 3rem;
}

.Input {
  margin-bottom: 3rem;
}

.ListContentHeader {
  margin-bottom: 2rem;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ListContent {
    margin: 1rem;
  }
