.Row {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ItemIcon {
  margin-right: 1rem;
}

.Row-Left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Row-Right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.DeleteButton {
  margin-left: 1rem;
}

.EditPanel {
  margin: 0.5rem;
}

.EditTitle {
  margin-bottom: 0.5rem;
}